{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QuieroEstudiar.org</title>

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/sb-admin-2.css' %}" />
    <!-- Theme Fonts -->
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"/>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
    <!-- Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <!-- Custom -->
    <script src="{% static 'dist/js/base_empty.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dist/css/base_empty.css' %}" />

    {% block head %}{% endblock %}
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="container-fluid" >
                <div id="left-side"></div>
                <div id="center">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="\">QuieroEstudiar.org</a>
                    </div>
                    {% block user_menu %}{% endblock %}
                </div>
                <div id="right-side"></div>
            </div>
        </nav>
        <!-- /.navbar-header -->

        <div class="container-fluid">
            <div id="left-side"></div>
            <div id="center">
                <h1></h1>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="right-side"></div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
