{% extends "base_empty.html" %}
{% load staticfiles %}

{% block user_menu %}
    <div id="menu" class="navbar-collapse">
        <ul id="options" class="nav navbar-top-links navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{{domain}}/accounts/profile">{{user.username.capitalize}} </a></li>
                <li ><a href="{{domain}}/accounts/logout">Salir </a></li>
            {% else %}
                <li ><a href="{{domain}}/accounts/login">Entrar </a></li>
                <li><a href="{{domain}}/accounts/register">Registrar </a></li>
            {% endif %}
            <li><a href="{{domain}}/QuienesSomos">Quienes Somos</a></li>
            <li><a href="{{domain}}/ComoFunciona">Como Funciona</a></li>
            <li><a href="{{domain}}/Contacto">Contacto</a></li>
        </ul>
        <!-- /.navbar-top-links -->
    </div>
    <!-- /.div -->

    <script src="{% static 'dist/js/base.js' %}"></script>
{% endblock %}


