{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              <strong>Error!</strong> Revisa la informacion ingresada e intentalo de nuevo.
            </div>
        {% endif %}
        <p>{{form.username }}</p>
        <p>{{form.password }}</p>
        <p><input class="btn btn-success" type="submit" value="Log In"></p>
    </form>

    <p><a class="btn btn-info" href="{% url 'registration_register' %}">Create New Account</a></p>
    <p><a href="{% url 'auth_password_reset' %}">Forgot password?</a></p>

    <script src="{% static 'dist/js/registration/login.js' %}"></script>

{% endblock %}
