{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <style src="{% static 'dist/registration/registration_form.css' %}"></style>
{% endblock %}

{% block content %}
    <p>Todos los campos a continuacion son obligatorios</p> 
    <form action="#" method="post">
        {% csrf_token %}
        <p>{{ form.first_name.errors.0 }} {{ form.first_name }}</p>
        <p>{{ form.last_name.errors.0 }} {{ form.last_name }}</p>
        <p>{{ form.username.errors.0 }} {{ form.username }}</p>
        <p>{{ form.email.errors.0 }} {{ form.email }}</p>
        <p>{{ form.password1.errors.0 }} {{ form.password1 }}</p>
        <p>{{ form.password2.errors.0 }} {{ form.password2 }}</p>
        <p>{{ form.birthday.errors.0 }} {{ form.birthday }}</p>
        <p>{{ form.genere.errors.0 }} {{form.genere.0}} {{ form.genere.1 }}</p>
        <p>Al hacer clic en Terminado, aceptas las Condiciones y confirmas que has leído nuestra Política de datos, incluido el Uso de cookies.</p>
        <input class="btn btn-info" type="submit" value="Terminado">
    </form>
{% endblock %}
